/* This style affects the whole application body */
body {
    background-image: url('https://images.unsplash.com/photo-1683317446581-260ca0cb9ea4?q=80&w=1059&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    min-height: 100vh; 
    /* The next three are important to center your form container: */
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

/* This is good for component-specific styles */
.card {
    background-color: rgba(255, 255, 255, 0.9); /* White with 90% opacity */
}

