@for (p of products;  track $index){
    <div class="prd" (click)="OnOrder(p.prdid, p.item, p.price)">
        <span>{{p.prdid}}</span>
        <span>{{p.item}}</span>
        <span>${{p.price}}</span>
    </div>
    }
 <button [innerText]="countOrder">Order: 0</button>

 <!-- Display array list -->
<div class="orders-container">
  <h3>Order History</h3>
  @for (order of pArray; track $index) {
    <div class="order-item">
      <!-- item -->
      <span>Name: {{order.item}}</span> 
      <br>
      <span>Price: ${{order.price}}</span>
      <br>
      <span>Qty: {{order.qty}}</span>
      <br>
      <br>
    </div>
  }
  @empty {
    <p>No orders yet</p>
  }

</div>